.usert, table.edit_page, .moviet {
  width: 95%;
  margin:0 auto;
}
input[type="text"],input[type="password"],
input[type="checkbox"],input[type="color"],
input[type="date"],input[type="datetime"], 
input[type="datetime-local"], input[type="email"], 
input[type="month"], input[type="number"], 
input[type="radio"], input[type="tel"], 
input[type="time"], input[type="url"], 
input[type="week"], input[type="search"], 
select, textarea {
    border: 1px solid #DDD;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
    background-color: #FFF;
    color: #32373C;
    outline: 0px none;
    transition: border-color 50ms ease-in-out 0s;
}
.edit_page col.cg1{
  width:20%;
}

.edit_page col.cg2{
  width:80%;
}
.container th{
  padding-bottom: 5px;
}
.container td {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
  padding: 15px 0 0;
  word-break: break-all;
  line-height: 1.25em;

}
.edit_page td{
  text-align: left;
  word-break: normal;
  line-height: 1.4em;
  vertical-align: middle;
  padding: 0.5em 0 0.5em 1.5%
}
.edit_page td.item{
	font-size:1.3em;
	line-height: 1.3em;
	text-align: center;
	color: #a60000;
}
.edit_page input[type="text"],.edit_page textarea{
	line-height: 2.2em;
	width: 90%;
	resize: none;
}
div.submit{
	width:100%;
	text-align:center;
	margin: 1em 0;
}
div.submit .button{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0px;
    padding: 0px 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
select {
	border-radius: 3px;
	padding: 0.49rem;
	width: 90%;
	border: 1px solid #DDD;
	color:#999;
}