/* Start */
html {
  background: url('bg.png') repeat;
  padding: 0;
}
body {
  font-family: 'open sans';
  padding: 20px 20px 10px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background:#FFF;
  width: 60%;
  margin: 140px auto 25px;
  border-radius:20px;
}
.wrapper {
	margin: 0 auto;
}
.main h1 {
  text-align: center;
  font-weight: 100;
  color: #565656;
  margin: 0;
}
.main{
	padding: 0 2em;
}

a {
  text-decoration: none; 
  outline: medium none;
}
.credit {
  text-align: center;
  color: rgba(255,255,255,0.5);
  padding: 10px;
  width: 410px;
  clear: both;
}

.shadow {-moz-box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
-webkit-box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}

.clear {
  clear:both;
}
header{
	display:block;
	width:80%;
	margin:0 auto;
	padding: 1em 0 0.5em;
}
.wrap{
	padding: 0 0 1em 4em;
}
.page_container section{
	margin-top: 1rem;
}
input[type="text"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="radio"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="search"], select, textarea {
    border: 1px solid #DDD;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
    background-color: #FFF;
    color: #32373C;
    outline: 0px none;
    transition: border-color 50ms ease-in-out 0s;
}
input[type="text"],input[type="password"], textarea {
    line-height: 2.2em;
    padding-left: 10px;
    resize: none;
}

a img,abbr,fieldset {
	border: 0;
}

#logo,h1,h2 {
	padding: 0 0 7px;
}

#pass-strength-result,textarea {
	box-sizing: border-box;
	border: 1px solid #ddd;
}

#logo span,.form-table th p,h1,h2 {
	font-weight: 400;
}

a {
	color: #0073aa;
}

a:active,a:hover {
	color: #00a0d2;
}

a:focus {
	box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
	color: #124964;
}

.ie8 a:focus {
	outline: #5b9dd9 solid 1px;
}

h1 {
  margin-top: 100px;
  color: #000;
  margin-bottom: 5px;
  font-size: 3em;
  letter-spacing: -4px;
  font-weight: 100;
}
h2 {
  color: #6D461D;
  font-weight: 800;
  font-size: 2em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
h3{
  font-size: 1.5em;
  margin: 10px 0 10px 2px;
  font-weight: 100;
}
h1,h2 {
	clear: both;
}

h3 {
	font-size: 16px;
}

dd,dt,li,p {
	padding-bottom: 2px;
	font-size: 14px;
	line-height: 1.5;
}

.code,code {
	font-family: Consolas,Monaco,monospace;
}

input,submit,textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

dl,ol,ul {
	padding: 5px 5px 5px 22px;
}

abbr {
	font-variant: normal;
}

fieldset {
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
}

#logo {
	margin: 6px 0 14px;
	border-bottom: none;
	text-align: center;
}

#logo span {
	display: block;
	overflow: hidden;
	margin: -130px auto 25px;
	padding: 0;
	width: 84px;
	height: 84px;
	outline: 0;
	background-image: url(../img/cd-icon-cart.svg);
	background-image: none,url(../img/cd-icon-cart.svg);
	background-position: center top;
	background-size: 84px;
	background-repeat: no-repeat;
	color: #444;
	text-decoration: none;
	text-indent: -9999px;
	font-size: 20px;
	line-height: 1.3em;
}

#pass1-text,.pw-weak,.show-password #pass1 {
	display: none;
}

.step {
	margin: 20px 0 15px;
}

.step,th {
	padding: 0;
	text-align: left;
}

.language-chooser.pshop-core-ui .step .button.button-large {
	height: 36px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 33px;
}

.form-table td,.form-table th {
	padding: 10px 20px 10px 0;
	vertical-align: top;
	font-size: 14px;
}

textarea {
	width: 100%;
}

.form-table {
	margin-top: 1em;
	width: 100%;
	border-collapse: collapse;
}

.form-table td {
	margin-bottom: 9px;
}

.form-table th {
	width: 140px;
	text-align: left;
}

.form-table code {
	font-size: 14px;
	line-height: 18px;
}

.form-table p {
	margin: 4px 0 0;
	font-size: 11px;
}

.form-table input {
	padding: 3px 5px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	font-size: 15px;
	line-height: 20px;
}

.form-table input[type=email],.form-table input[type=password],.form-table input[type=text],.form-table input[type=url] {
	width: 206px;
}

.form-table.install-success td,.form-table.install-success th {
	padding: 16px 20px 16px 0;
	vertical-align: middle;
}

.form-table.install-success td p {
	margin: 0;
	font-size: 14px;
}

.form-table.install-success td code {
	margin: 0;
	font-size: 18px;
}

#error-page {
	margin-top: 50px;
}

#error-page p {
	margin: 25px 0 20px;
	font-size: 14px;
	line-height: 18px;
}

#error-page code,.code {
	font-family: Consolas,Monaco,monospace;
}

.pshop-hide-pw>.dashicons {
	line-height: inherit;
}

#pass-strength-result {
	margin: -2px 5px 5px 0;
	padding: 3px 5px;
	width: 218px;
	background-color: #eee;
	color: #23282d;
	text-align: center;
	opacity: 0;
}

#pass-strength-result.short {
	border-color: #e35b5b;
	background-color: #f1adad;
	opacity: 1;
}

#pass-strength-result.bad {
	border-color: #f78b53;
	background-color: #fbc5a9;
	opacity: 1;
}

#pass-strength-result.good {
	border-color: #ffc733;
	background-color: #ffe399;
	opacity: 1;
}

#pass-strength-result.strong {
	border-color: #83c373;
	background-color: #c1e1b9;
	opacity: 1;
}

#pass1-text.short,#pass1.short {
	border-color: #e35b5b;
}

#pass1-text.bad,#pass1.bad {
	border-color: #f78b53;
}

#pass1-text.good,#pass1.good {
	border-color: #ffc733;
}

#pass1-text.strong,#pass1.strong {
	border-color: #83c373;
}

.message {
	padding: .7em .6em;
	border-left: 4px solid #dc3232;
	background-color: #fbeaea;
}

#admin_email,#dbhost,#dbname,#pass1,#pass2,#prefix,#pwd,#uname,#user_login {
	direction: ltr;
}

.show-password #pass1-text {
	display: inline-block;
}

.form-table span.description.important {
	font-size: 12px;
}

.rtl input,.rtl submit,.rtl textarea,body.rtl {
	font-family: Tahoma,sans-serif;
}

.language-chooser select,:lang(he-il) .rtl input,:lang(he-il) .rtl submit,:lang(he-il) .rtl textarea,:lang(he-il) body.rtl {
	font-family: Arial,sans-serif;
}

@media only screen and (max-width:799px) {
	body {
		margin-top: 115px;
	}

	#logo a {
		margin: -125px auto 30px;
	}
}

@media screen and (max-width:782px) {
	.form-table {
		margin-top: 0;
	}

	.form-table td,.form-table th {
		display: block;
		width: auto;
		vertical-align: middle;
	}

	.form-table th {
		padding: 20px 0 0;
	}

	.form-table td {
		margin: 0;
		padding: 5px 0;
		border: 0;
	}

	input,textarea {
		font-size: 16px;
	}

	.form-table span.description,.form-table td input[type=text],.form-table td input[type=email],.form-table td input[type=url],.form-table td input[type=password],.form-table td select,.form-table td textarea {
		display: block;
		box-sizing: border-box;
		padding: 7px 10px;
		width: 100%;
		max-width: none;
		font-size: 16px;
		line-height: 1.5;
	}
}

body.language-chooser {
	max-width: 300px;
}

.language-chooser select {
	display: block;
	padding: 8px;
	width: 100%;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #32373c;
	font-weight: 400;
	font-size: 16px;
}

.language-chooser p {
	text-align: right;
}

.screen-reader-input,.screen-reader-text {
	position: absolute;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal!important;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

.spinner {
	visibility: hidden;
	margin: 2px 5px 0;
	width: 20px;
	height: 20px;
	background: url(../images/spinner.gif) no-repeat;
	background-size: 20px 20px;
	opacity: .7;
	filter: alpha(opacity=70);
}

.step .spinner {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}

.button.hide-if-no-js,.hide-if-no-js {
	display: none;
}

@media print,(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
	.spinner {
		background-image: url(../images/spinner-2x.gif);
	}
}
/*! This file is auto-generated */
.pshop-core-ui .button,.pshop-core-ui .button-primary,.pshop-core-ui .button-secondary {
 display:inline-block;
 text-decoration:none;
 font-size:13px;
 line-height:26px;
 height:28px;
 margin:0;
 padding:0 10px 1px;
 cursor:pointer;
 border-width:1px;
 border-style:solid;
 -webkit-appearance:none;
 border-radius:3px;
 white-space:nowrap;
 box-sizing:border-box
}
.pshop-core-ui button::-moz-focus-inner,.pshop-core-ui input[type=reset]::-moz-focus-inner,.pshop-core-ui input[type=button]::-moz-focus-inner,.pshop-core-ui input[type=submit]::-moz-focus-inner {
 border-width:0;
 border-style:none;
 padding:0
}
.pshop-core-ui .button-group.button-large .button,.pshop-core-ui .button.button-large {
 height:30px;
 line-height:28px;
 padding:0 12px 2px
}
.pshop-core-ui .button-group.button-small .button,.pshop-core-ui .button.button-small {
 height:24px;
 line-height:22px;
 padding:0 8px 1px;
 font-size:11px
}
.pshop-core-ui .button-group.button-hero .button,.pshop-core-ui .button.button-hero {
 font-size:14px;
 height:46px;
 line-height:44px;
 padding:0 36px
}
.pshop-core-ui .button:active,.pshop-core-ui .button:focus {
 outline:0
}
.pshop-core-ui .button.hidden {
 display:none
}
.pshop-core-ui input[type=reset],.pshop-core-ui input[type=reset]:active,.pshop-core-ui input[type=reset]:focus,.pshop-core-ui input[type=reset]:hover {
 background:0 0;
 border:none;
 box-shadow:none;
 padding:0 2px 1px;
 width:auto
}
.pshop-core-ui .button,.pshop-core-ui .button-secondary {
 color:#555;
 border-color:#ccc;
 background:#f7f7f7;
 box-shadow:0 1px 0 #ccc;
 vertical-align:top
}
.pshop-core-ui p .button {
 vertical-align:baseline
}
.pshop-core-ui .button-secondary:focus,.pshop-core-ui .button-secondary:hover,.pshop-core-ui .button.focus,.pshop-core-ui .button.hover,.pshop-core-ui .button:focus,.pshop-core-ui .button:hover {
 background:#fafafa;
 border-color:#999;
 color:#23282d
}
.pshop-core-ui .button-secondary:focus,.pshop-core-ui .button.focus,.pshop-core-ui .button:focus {
 border-color:#5b9dd9;
 box-shadow:0 0 3px rgba(0,115,170,.8)
}
.pshop-core-ui .button-secondary:active,.pshop-core-ui .button.active,.pshop-core-ui .button.active:hover,.pshop-core-ui .button:active {
 background:#eee;
 border-color:#999;
 box-shadow:inset 0 2px 5px -3px rgba(0,0,0,.5);
 -webkit-transform:translateY(1px);
 transform:translateY(1px)
}
.pshop-core-ui .button.active:focus {
 border-color:#5b9dd9;
 box-shadow:inset 0 2px 5px -3px rgba(0,0,0,.5),0 0 3px rgba(0,115,170,.8)
}
.pshop-core-ui .button-disabled,.pshop-core-ui .button-secondary.disabled,.pshop-core-ui .button-secondary:disabled,.pshop-core-ui .button-secondary[disabled],.pshop-core-ui .button.disabled,.pshop-core-ui .button:disabled,.pshop-core-ui .button[disabled] {
 color:#a0a5aa!important;
 border-color:#ddd!important;
 background:#f7f7f7!important;
 box-shadow:none!important;
 text-shadow:0 1px 0 #fff!important;
 cursor:default;
 -webkit-transform:none!important;
 transform:none!important
}
.pshop-core-ui .button-link {
 margin:0;
 padding:0;
 box-shadow:none;
 border:0;
 border-radius:0;
 background:0 0;
 outline:0;
 cursor:pointer;
 text-align:left;
 color:#0073aa;
 text-decoration:underline;
 transition-property:border,background,color;
 transition-duration:.05s;
 transition-timing-function:ease-in-out
}
.pshop-core-ui .button-link:active,.pshop-core-ui .button-link:hover {
 color:#00a0d2
}
.pshop-core-ui .button-link:focus {
 color:#124964;
 box-shadow:0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8)
}
.pshop-core-ui .button-link-delete {
 color:#a00
}
.pshop-core-ui .button-link-delete:focus,.pshop-core-ui .button-link-delete:hover {
 color:#dc3232
}
.ie8 .pshop-core-ui .button-link:focus {
 outline:#5b9dd9 solid 1px
}
.pshop-core-ui .button-primary {
 background:#0085ba;
 border-color:#0073aa #006799 #006799;
 box-shadow:0 1px 0 #006799;
 color:#fff;
 text-decoration:none;
 text-shadow:0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799
}
.pshop-core-ui .button-primary.focus,.pshop-core-ui .button-primary.hover,.pshop-core-ui .button-primary:focus,.pshop-core-ui .button-primary:hover {
 background:#008ec2;
 border-color:#006799;
 color:#fff
}
.pshop-core-ui .button-primary.focus,.pshop-core-ui .button-primary:focus {
 box-shadow:0 1px 0 #0073aa,0 0 2px 1px #33b3db
}
.pshop-core-ui .button-primary.active,.pshop-core-ui .button-primary.active:focus,.pshop-core-ui .button-primary.active:hover,.pshop-core-ui .button-primary:active {
 background:#0073aa;
 border-color:#006799;
 box-shadow:inset 0 2px 0 #006799;
 vertical-align:top
}
.pshop-core-ui .button-primary-disabled,.pshop-core-ui .button-primary.disabled,.pshop-core-ui .button-primary:disabled,.pshop-core-ui .button-primary[disabled] {
 color:#66c6e4!important;
 background:#008ec2!important;
 border-color:#007cb2!important;
 box-shadow:none!important;
 text-shadow:0 -1px 0 rgba(0,0,0,.1)!important;
 cursor:default
}
.pshop-core-ui .button.button-primary.button-hero {
 box-shadow:0 2px 0 #006799
}
.pshop-core-ui .button.button-primary.button-hero.active,.pshop-core-ui .button.button-primary.button-hero.active:focus,.pshop-core-ui .button.button-primary.button-hero.active:hover,.pshop-core-ui .button.button-primary.button-hero:active {
 box-shadow:inset 0 3px 0 #006799
}
.pshop-core-ui .button-group {
 position:relative;
 display:inline-block;
 white-space:nowrap;
 font-size:0;
 vertical-align:middle
}
.pshop-core-ui .button-group>.button {
 display:inline-block;
 border-radius:0;
 margin-right:-1px;
 z-index:10
}
.pshop-core-ui .button-group>.button-primary {
 z-index:100
}
.pshop-core-ui .button-group>.button:hover {
 z-index:20
}
.pshop-core-ui .button-group>.button:first-child {
 border-radius:3px 0 0 3px
}
.pshop-core-ui .button-group>.button:last-child {
 border-radius:0 3px 3px 0
}
.pshop-core-ui .button-group>.button:focus {
 position:relative;
 z-index:1
}
@media screen and (max-width:782px) {
 .pshop-core-ui .button,.pshop-core-ui .button.button-large,.pshop-core-ui .button.button-small,a.preview,input#publish,input#save-post {
  padding:6px 14px;
  line-height:normal;
  font-size:14px;
  vertical-align:middle;
  height:auto;
  margin-bottom:4px
 }
 #media-upload.pshop-core-ui .button {
  padding:0 10px 1px;
  height:24px;
  line-height:22px;
  font-size:13px
 }
 .media-frame.mode-grid .bulk-select .button {
  margin-bottom:0
 }
 .pshop-core-ui .save-post-status.button {
  position:relative;
  margin:0 14px 0 10px
 }
 .pshop-core-ui.pshop-customizer .button {
  padding:0 10px 1px;
  font-size:13px;
  line-height:26px;
  height:28px;
  margin:0;
  vertical-align:inherit
 }
 .media-modal-content .media-toolbar-primary .media-button {
  margin-top:10px;
  margin-left:5px
 }
 .interim-login .button.button-large {
  height:30px;
  line-height:28px;
  padding:0 12px 2px
 }
}
